@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&family=Montserrat:ital,wght@0,400;0,600;0,700;0,900;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;600;900&family=Kanit:wght@400;500;700&family=Montserrat:ital,wght@0,400;0,600;0,700;0,900;1,400;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    width: 100%;
    height: 5em;
    align-items: center;
    padding: 2em;
}

.nav-item {
    margin-left: 1em;
    margin-right: 1em;
    padding: 2em;
    color: rgb(26, 161, 121);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.25em;
}

.nav-item:hover {
    color: black;
}

.landing{
    width: 100%;
    height: 800px;
    
    background-image: url('./public/testimage3.jpg');
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(26, 161, 121,0);
}

.container-fancy-text h1{
    font-size:5em;
    font-weight:700;
    text-align: center;
    padding-top: 5em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(26, 161, 121);

}

.container-fancy-text h2 {
    font-size: 3em;
    font-weight: 500;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
}

.event{
    width: 100%;
    height: 800px;
    background-color: white;
}

.testimonies{
    width: 100%;
    height: 800px;
    background-color: blue;
}

.resource{
    width: 100%;
    height: 800px;
    background-color: grey;
}

.aboutus{
    width: 100%;
    height: 600px;
    background-color: green;
}


nav {
    display: inherit;
    justify-content: right;
}

.nav-content {
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li {
    justify-content: space-around;
    padding: 1em ;
    display: flex;
    flex-direction: row;
}

.footer {
    background-color: #292c2f;
    color: #bbb;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0 3em 0;
    
}

.socials ul {
    align-content: center;
}

.socials li {
    margin: 0 0.5em;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}

.footer h3,p {
    text-align: center;
}

.footer h3 {
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.footer p {
    font-family: 'Montserrat', sans-serif;
    padding: 0 20em;
    font-weight: 500;
}

.footer-heading {
    margin: 0;
}

.footer-bottom {
    background-color: black;
    color: #bbb;
}

.footer-bottom p {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.contact {
    padding: 0 9em;
}

.contact button {
    align-content: center;
}
