@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&family=Montserrat:ital,wght@0,400;0,600;0,700;0,900;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;600;900&family=Kanit:wght@400;500;700&family=Montserrat:ital,wght@0,400;0,600;0,700;0,900;1,400;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}



.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    width: 100%;
    height: 5em;
    align-items: center;
    padding: 2em;
}

.nav-item {
    margin-left: 1em;
    margin-right: 1em;
    padding: 2em;
    color: rgba(11, 188, 135, 0.808);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.25em;
}

.nav-item:hover {
    color: black;
}


.landing{
    width: 100%;
    height: 800px;
    
    background-image: url('./public/testimage4.jpg');
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(204, 237, 226, 0.637);
}

.container-fancy-text h1{
    font-size:5em;
    font-weight:700;
    text-align: center;
    padding-top: 5em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(26, 161, 121);

}

.container-fancy-text h2 {
    font-size: 3em;
    font-weight: 500;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
}

.event{
    width: 100%;
    height: 800px;
    background-color: white;
}

.testimonies{
    width: 100%;
    height: 800px;
    background-color: blue;
}

.resource{
    width: 100%;
    height: 800px;
    background-color: grey;
}

.aboutus{
    width: 100%;
    height: 600px;
    background-color: green;
}


nav {
    display: inherit;
    justify-content: right;
}

.nav-content {
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li {
    justify-content: space-around;
    padding: 1em ;
    display: flex;
    flex-direction: row;
}

.timeline{
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

.timeline h1 {
    text-align: center;
    color: rgb(26, 161, 121);
    font-weight: 700;
    margin-top: 1em;
}

.hexa{
    border: 0px;
    float: left;
    text-align: center;
    height: 35px;
    width: 60px;
    font-size: 22px;
    background: #f0f0f0;
    color: #3c3c3c;
    position: relative;
    margin-top: 15px;
}

.hexa:before{
    content: ""; 
    position: absolute; 
    left: 0; 
    width: 0; 
    height: 0;
    border-bottom: 15px solid #f0f0f0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    top: -15px;
}
  
  .hexa:after{
    content: ""; 
    position: absolute; 
    left: 0; 
    width: 0; 
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 15px solid #f0f0f0;
    bottom: -15px;
}

.timeline-content {
    position: relative;
    padding: 0;
    width: 100%;
    margin-top: 20px;
    list-style-type: none;
}

.timeline-content:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background: rgb(213,213,213);
    background: -moz-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
    background: -webkit-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
    background: -o-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
    background: -ms-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
    background: linear-gradient(to bottom, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
    z-index: 5;
  }
  
  .timeline-content li {
    padding: 2em 0;
  }
  
  .timeline-content .hexa{
    width: 16px;
    height: 10px;
    position: absolute;
    background: rgb(26, 161, 121);
    z-index: 5;
    left: 0;
    right: 0;
    margin-left:auto;
    margin-right:auto;
    top: -30px;
    margin-top: 0;
  }
  
  .timeline-content .hexa:before {
    border-bottom: 4px solid rgb(26, 161, 121);
    border-left-width: 8px;
    border-right-width: 8px;
    top: -4px;
  }
  
  .timeline-content .hexa:after {
    border-left-width: 8px;
    border-right-width: 8px;
    border-top: 4px solid rgb(26, 161, 121);
    bottom: -4px;
  }
  
  .direction-l,
  .direction-r {
    float: none;
    width: 100%;
    text-align: center;
  }
  
  .flag-wrapper {
    text-align: center;
    position: relative;
  }
  
  .flag {
    position: relative;
    display: inline;
    background: rgb(255,255,255);
    font-weight: 600;
    z-index: 15;
    padding: 6px 10px;
    text-align: left;
    border-radius: 5px;
  }
  
  .direction-l .flag:after,
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -15px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255,255,255);
    border-width: 8px;
    pointer-events: none;
  }
  
  .direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
    line-height: 1em;
    vertical-align: middle;
    color: #fff;
  }
  
  .direction-l .time-wrapper {
    float: none;
  }
  
  .direction-r .time-wrapper {
    float: none;
  }
  
  .time {
    background: rgb(26, 161, 121);
    display: inline-block;
    padding: 8px;
  }
  
  .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(254,254,254);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    box-shadow: 0 0 1px rgba(0,0,0,0.20);
    z-index: 15;
  }
  
  .direction-l .desc,
  .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    z-index: 15;
  }
  
  @media(min-width: 990px){
    .timeline-content {
      width: 660px;
      margin: 0 auto;
      margin-top: 20px;
    }
  
    .timeline-content li:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
    
    .timeline-content .hexa {
      left: -28px;
      right: auto;
      top: 8px;
    }
  
    .timeline-content .direction-l .hexa {
      left: auto;
      right: -28px;
    }
  
    .direction-l {
      position: relative;
      width: 310px;
      float: left;
      text-align: right;
    }
  
    .direction-r {
      position: relative;
      width: 310px;
      float: right;
      text-align: left;
    }
  
    .flag-wrapper {
      display: inline-block;
    }
    
    .flag {
      font-size: 18px;
    }
  
    .direction-l .flag:after {
      left: auto;
      right: -16px;
      top: 50%;
      margin-top: -8px;
      border: solid transparent;
      border-left-color: rgb(254,254,254);
      border-width: 8px;
    }
  
    .direction-r .flag:after {
      top: 50%;
      margin-top: -8px;
      border: solid transparent;
      border-right-color: rgb(254,254,254);
      border-width: 8px;
      left: -8px;
    }
  
    .time-wrapper {
      display: inline;
      vertical-align: middle;
      margin: 0;
    }
  
    .direction-l .time-wrapper {
      float: left;
    }
  
    .direction-r .time-wrapper {
      float: right;
    }
  
    .time {
      padding: 5px 10px;
    }
  
    .direction-r .desc {
      margin: 1em 0 0 0.75em;
    }
  }
  
  @media(min-width: 992px){
    .timeline-content {
      width: 800px;
      margin: 0 auto;
      margin-top: 20px;
    }
  
    .direction-l {
      position: relative;
      width: 380px;
      float: left;
      text-align: right;
    }
  
    .direction-r {
      position: relative;
      width: 380px;
      float: right;
      text-align: left;
    }
  }


.footer {
    background-color: #292c2f;
    color: #bbb;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0 3em 0;
    
}

.socials ul {
    align-content: center;
}

.socials li {
    margin: 0 0.5em;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}

.footer h3,p {
    text-align: center;
}

.footer h3 {
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.footer p {
    font-family: 'Montserrat', sans-serif;
    padding: 0 20em;
    font-weight: 500;
}

.footer-heading {
    margin: 0;
}

.footer-bottom {
    background-color: black;
    color: #bbb;
}

.footer-bottom p {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.contact {
    padding: 0 9em;
}

.contact button {
    align-content: center;
}
